@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h3>Hello ALT.NET</h3>
    <p class="lead">Demo in this app consists of built in profiling support for ASP.NET apps.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p></p>
    </div>
    <div class="col-md-4">
        <h2>RavenDB</h2>
        <p><a class="btn btn-default" href="http://ravendb.net">RavenDB.NET &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2></h2>
    </div>
</div>